<div class="lesson-detail-container">
    <div class="nav-bar">
        <button class="btn btn-info" click="previous()">Previous</button>
        <button class="btn btn-info" click="next()">Next</button>
    </div>
    <h3>{{lesson?.description}}</h3>
    <h3>Duration: {{lesson?.duration}}</h3>
    <iframe [src]="lesson?.videoUrl | safeUrl" frameborder="0" class="video-container" frameboder="0" allowfullscreen></iframe>
    <h2>Description</h2>
    <p>{{lesson?.longDescription}}</p>

    <div class="tools-bar">
        <button class="btn btn-warning ">Edit Lesson</button>
        <button class="btn btn-danger">Delete</button>
    </div>

</div>
