<form autocomplete="off" novalidate [formGroup]="form" class="login-form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Email:</label>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input type="password" name="password" formControlName="password">
        </div>
    </fieldset>
    <button class="btn btn-primary" (click)="login()">Login</button>
</form>