<header class="l-header v-center-parent">
  <img src="https://dicasdolampada.files.wordpress.com/2015/03/angular-2-0.png" alt="" class="v-center" routeLink="home">
  <ul class="top-menu disable-link-styles">
    <li><a routerLink="home" routerLinkActive="menu-active">Home</a></li>
    <li><a routerLink="courses" routerLinkActive="menu-active">Courses</a></li>
    <li><a routerLink="login" routerLinkActive="menu-active">Login</a></li>
    <li><a routerLink="register" routerLinkActive="menu-active">Register</a></li>
    <li><a routerLink="logout" routerLinkActive="menu-active">Logout</a></li>

  </ul>
</header>